<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codigo : <%= urlFound.urlShort %></title>
</head>
<body>
  <table style="margin-top: 60px ;" class="table">
    <table>
      <tr>
        <td>URL Original</td>
        <td>
          <a href="<%= urlFound.urlOriginal %>" ><%= urlFound.urlOriginal %></a>
        </td>
      </tr>
      <tr>
        <td>Acessos</td>
        <td><%= urlFound.access %></td>
      </tr>
    </table>
    </table>
</body>
</html>
